* {{
    background:     {background};
    background-alt: {background};
    foreground:     {foreground};
    selected:       {color2};
    active:         {color1};
    urgent:         {color5};
}}
